CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_glinet_gl-mt2500=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_glinet_gl-mt2500=y
# Рекомендуемые настройки
CONFIG_AUTOREMOVE=y
# Мои настройки
#CONFIG_PACKAGE_kmod-all=m
CONFIG_LUCI_LANG_ru=y
# Стандартные пакеты
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_dnsmasq=y
#CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_fitblk=y
CONFIG_PACKAGE_fstools=y
CONFIG_PACKAGE_kmod-crypto-hw-safexcel=y
CONFIG_PACKAGE_kmod-gpio-button-hotplug=y
CONFIG_PACKAGE_kmod-leds-gpio=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-phy-aquantia=y
CONFIG_PACKAGE_libc=y
CONFIG_PACKAGE_libgcc=y
CONFIG_PACKAGE_libustream-mbedtls=y
CONFIG_PACKAGE_logd=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_netifd=y
CONFIG_PACKAGE_nftables=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_procd=y
CONFIG_PACKAGE_procd-seccomp=y
CONFIG_PACKAGE_procd-ujail=y
CONFIG_PACKAGE_uboot-envtools=y
CONFIG_PACKAGE_uci=y
CONFIG_PACKAGE_uclient-fetch=y
CONFIG_PACKAGE_urandom-seed=y
CONFIG_PACKAGE_urngd=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_f2fsck=y
CONFIG_PACKAGE_mkf2fs=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_luci=y
# Мои oWRT пакеты
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_bind-dig=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_bsdtar=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_coreutils-sort=y
CONFIG_PACKAGE_coreutils-timeout=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_gawk=y
CONFIG_PACKAGE_gdisk=y
CONFIG_PACKAGE_grep=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_kernel=y
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-mdio-netlink=y
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-mt7981-firmware=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-nfnetlink-queue=y
CONFIG_PACKAGE_kmod-nft-core=y
CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-phy-realtek=y
CONFIG_PACKAGE_kmod-thermal=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
CONFIG_PACKAGE_libip4tc2=y
CONFIG_PACKAGE_libip6tc2=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_lsof=y
CONFIG_PACKAGE_luaposix=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-i18n-base-ru=y
CONFIG_PACKAGE_luci-i18n-commands-ru=y
CONFIG_PACKAGE_luci-i18n-firewall-ru=y
CONFIG_PACKAGE_luci-i18n-opkg-ru=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_mailsend=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_partx-utils=y
CONFIG_PACKAGE_sing-box=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_zoneinfo-europe=y
# Мои iWRT пакеты
#CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_chinadns-ng=y
CONFIG_PACKAGE_luci-app-homeproxy=y
# Мои дополнительные пакеты
CONFIG_PACKAGE_internet-detector=y
CONFIG_PACKAGE_luci-app-internet-detector=y
CONFIG_PACKAGE_luci-i18n-internet-detector-ru=y
CONFIG_PACKAGE_luci-app-log=y
CONFIG_PACKAGE_luci-i18n-log-ru=y
CONFIG_PACKAGE_youtubeUnblock=y
#CONFIG_PACKAGE_kyoutubeUnblock=m
# Добавляй нужные пакеты здесь
#CONFIG_PACKAGE_kmod-crypto-aead=m
#CONFIG_PACKAGE_kmod-crypto-authenc=m
#CONFIG_PACKAGE_kmod-crypto-crc32c=m
#CONFIG_PACKAGE_kmod-crypto-des=m
#CONFIG_PACKAGE_kmod-crypto-hash=m
#CONFIG_PACKAGE_kmod-crypto-hmac=m
#CONFIG_PACKAGE_kmod-crypto-manager=m
#CONFIG_PACKAGE_kmod-crypto-md5=m
#CONFIG_PACKAGE_kmod-crypto-null=m
#CONFIG_PACKAGE_kmod-crypto-sha1=m
#CONFIG_PACKAGE_kmod-crypto-sha256=m
#CONFIG_PACKAGE_kmod-crypto-sha512=m
#CONFIG_PACKAGE_kmod-hwmon-core=m
#CONFIG_PACKAGE_kmod-ipt-core=m
#CONFIG_PACKAGE_kmod-lib-crc-ccitt=m
#CONFIG_PACKAGE_kmod-lib-crc32c=m
#CONFIG_PACKAGE_kmod-libphy=m
#CONFIG_PACKAGE_kmod-nf-conntrack=m
#CONFIG_PACKAGE_kmod-nf-conntrack-netlink=m
#CONFIG_PACKAGE_kmod-nf-conntrack6=m
#CONFIG_PACKAGE_kmod-nf-ipt=m
#CONFIG_PACKAGE_kmod-nf-log=m
#CONFIG_PACKAGE_kmod-nf-log6=m
#CONFIG_PACKAGE_kmod-nf-nat=m
#CONFIG_PACKAGE_kmod-nf-reject=m
#CONFIG_PACKAGE_kmod-nf-reject6=m
#CONFIG_PACKAGE_kmod-nf-tproxy=m
#CONFIG_PACKAGE_kmod-nfnetlink=m
#CONFIG_PACKAGE_kmod-nft-compat=m
#CONFIG_PACKAGE_kmod-nft-fib=m
#CONFIG_PACKAGE_kmod-nft-nat=m
#CONFIG_PACKAGE_kmod-nls-base=m
#CONFIG_PACKAGE_kmod-ppp=m
#CONFIG_PACKAGE_kmod-pppoe=m
#CONFIG_PACKAGE_kmod-pppox=m
#CONFIG_PACKAGE_kmod-slhc=m
#CONFIG_PACKAGE_kmod-usb-core=m
#CONFIG_PACKAGE_kmod-usb-xhci-hcd=m
#CONFIG_PACKAGE_kmod-usb-xhci-mtk=m
#CONFIG_PACKAGE_kmod-usb3=m
